<div class="container">
  <div class="text-center">
  <h2>Recent Flats</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/arnauizard">
  <a class="card-link" href="#" ></a>
</div>
</div>
 <div class="col-md-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/barcelona');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2> Barcelona</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/arnauizard">
  <a class="card-link" href="#" ></a>
</div>
</div>
 <div class="col-md-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/amsterdam');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Amsterdam</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/arnauizard">
  <a class="card-link" href="#" ></a>
</div>
</div>
</div>
</div>
